# ============= ConnectionString =================== #

DATABASE_HOST="yourdatabasedomain"
DATABASE_PORT=5432
DATABASE_USERNAME="yourdatabaseusername" 
DATABASE_PASSWORD="yourdatabasepassword"
DATABASE_NAME="yourusername"

# ================================================= #

# ============= STMP_ACCESS =================== #

MAIL_HOST="yourmailhost"
MAIL_TOKEN="yourmailtoken"
MAIL_TEMPLATE_ID=""
MAIL_FROM_NAME="yourfromname"
MAIL_FROM_EMAIL="yourfromemail"
MAIL_FROM_EMAIL2="yourfromemail2"

# ================================================= #
